body {
  background-color: #181818;
  color: #F6F6F6;
  font-family: "Urbanist", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.section--no-top-padding {
  padding-top: 0;
}

.section--white {
  background-color: #ffffff;
}

.section__title--black {
  color: #1F1F1F;
  font-family: "Unbounded", cursive;
  font-weight: 600;
  font-size: 27px;
  line-height: 1.17;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .section__title--black {
    font-size: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .section__title--black {
    font-size: 48px;
  }
}

.section__title--white {
  color: #ffffff;
  font-family: "Unbounded", cursive;
  font-weight: 600;
  font-size: 27px;
  line-height: 1.17;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .section__title--white {
    font-size: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .section__title--white {
    font-size: 48px;
  }
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 480px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 786px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.logo {
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: normal;
  cursor: default;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 30px;
  }
}

.button {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 15px 30px;
  border: 3px solid #FEC56C;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.button--text-white {
  color: #181818;
  background-color: #FEC56C;
}
.button--text-white:hover, .button--text-white:focus {
  color: #ffffff;
  background-color: transparent;
}

.button--text-black {
  color: #181818;
  background-color: #FEC56C;
}
.button--text-black:hover, .button--text-black:focus {
  background-color: transparent;
}

.button--transparent {
  color: #ffffff;
  background-color: transparent;
}
.button--transparent:hover, .button--transparent:focus {
  color: #181818;
  background-color: #FEC56C;
}

.header {
  position: absolute;
  top: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .header {
    top: 63px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    top: 75px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__controls {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-navigation {
  margin-right: 155px;
}

.header-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-navigation__item:not(:last-child) {
  margin-right: 40px;
}

.header-navigation__link {
  color: #ffffff;
  font-size: 18px;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.header-navigation__link:hover, .header-navigation__link:focus {
  text-decoration-color: #ffffff;
}

.hero {
  padding-top: 175px;
  padding-bottom: 140px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 215px;
    padding-bottom: 195px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 195px;
    padding-bottom: 165px;
  }
}

.hero-background__wrapper {
  position: absolute;
  top: 0;
  padding: 15px 15px 0 15px;
  width: 100%;
  height: 772px;
}
@media screen and (min-width: 480px) {
  .hero-background__wrapper {
    padding: 25px 25px 0 25px;
  }
}
@media screen and (min-width: 768px) {
  .hero-background__wrapper {
    height: 810px;
    padding: 20px 20px 0 20px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-background__wrapper {
    height: 820px;
    padding: 30px 30px 0 30px;
  }
}

.hero-background {
  width: 100%;
  height: 100%;
  background: url("../images/hero/hero-mob.jpg"), lightgray -237.361px 0px/192.753% 100% no-repeat;
  background-size: 101%;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .hero-background {
    background: url("../images/hero/hero-tab.jpg"), lightgray -237.361px 0px/192.753% 100% no-repeat;
    background-size: 101%;
  }
}
@media screen and (min-width: 1200px) {
  .hero-background {
    background: url("../images/hero/hero-desk.jpg"), lightgray -237.361px 0px/192.753% 100% no-repeat;
    background-size: 101%;
  }
}

.hero__title {
  font-size: 27px;
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 39px;
    width: 660px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 48px;
    width: 810px;
  }
}

.hero__text {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 18px;
    width: 485px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 20px;
    margin-bottom: 30px;
    width: 560px;
  }
}
.hero__text--highlight {
  font-weight: 700;
  text-decoration: underline;
}

.numbers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .numbers-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.numbers__image-wrapper--mob {
  width: 100%;
  height: 321px;
  overflow: hidden;
  border-radius: 6px;
}
@media screen and (min-width: 768px) {
  .numbers__image-wrapper--mob {
    display: none;
  }
}

.numbers__image-wrapper--tab {
  display: none;
}
@media screen and (min-width: 768px) {
  .numbers__image-wrapper--tab {
    display: block;
    width: 338px;
    height: 700px;
    overflow: hidden;
    border-radius: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .numbers__image-wrapper--tab {
    display: none;
  }
}

.numbers__image-wrapper--desk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .numbers__image-wrapper--desk {
    display: block;
    width: 570px;
    height: 900px;
    overflow: hidden;
    border-radius: 6px;
  }
}

.numbers__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  scale: 1.01;
}

@media screen and (min-width: 768px) {
  .numbers__text-wrapper {
    width: 338px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .numbers__text-wrapper {
    width: 580px;
  }
}

.numbers {
  margin-top: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .numbers {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.numbers__item {
  padding-bottom: 20px;
  border-bottom: 1px solid #7D7D7D;
}
@media screen and (min-width: 1200px) {
  .numbers__item {
    padding-bottom: 30px;
  }
}

.numbers__title {
  font-size: 50px;
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .numbers__title {
    font-size: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .numbers__title {
    font-size: 90px;
  }
}

.numbers__description {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .numbers__description {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .numbers__description {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .who-am-i-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .who-am-i__text-wrapper {
    width: 338px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .who-am-i__text-wrapper {
    width: 570px;
  }
}

.who-am-i__image-wrapper--mob {
  width: 100%;
  height: 370px;
  overflow: hidden;
  border-radius: 6px;
}
@media screen and (min-width: 768px) {
  .who-am-i__image-wrapper--mob {
    display: none;
  }
}

.who-am-i__image-wrapper--tab {
  display: none;
}
@media screen and (min-width: 768px) {
  .who-am-i__image-wrapper--tab {
    display: block;
    width: 338px;
    height: 649px;
    overflow: hidden;
    border-radius: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .who-am-i__image-wrapper--tab {
    display: none;
  }
}

.who-am-i__image-wrapper--desk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .who-am-i__image-wrapper--desk {
    display: block;
    width: 570px;
    height: 815px;
    overflow: hidden;
    border-radius: 6px;
  }
}

.who-am-i__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  scale: 1.01;
}

.who-am-i {
  margin-top: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .who-am-i {
    margin-bottom: 0;
  }
}

.who-am-i__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #7D7D7D;
}
.who-am-i__item:not(:first-child) {
  padding-top: 20px;
}

.who-am-i__bullet {
  margin-right: 20px;
  color: #1F1F1F;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
}

.who-am-i__description {
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .who-am-i__description {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .who-am-i__description {
    font-size: 20px;
  }
}

.who-am-i__text {
  color: #1F1F1F;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .who-am-i__text {
    font-size: 20px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .who-am-i__text {
    font-size: 25px;
    margin-bottom: 30px;
  }
}
.who-am-i__text--highlight {
  font-weight: 700;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .purchase__image-wrapper--mob {
    display: none;
  }
}

.purchase__image-wrapper--tab {
  display: none;
}
@media screen and (min-width: 768px) {
  .purchase__image-wrapper--tab {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .purchase__image-wrapper--tab {
    display: none;
  }
}

.purchase__image-wrapper--desk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .purchase__image-wrapper--desk {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .schedule__image-wrapper--mob {
    display: none;
  }
}

.schedule__image-wrapper--tab {
  display: none;
}
@media screen and (min-width: 768px) {
  .schedule__image-wrapper--tab {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .schedule__image-wrapper--tab {
    display: none;
  }
}

.schedule__image-wrapper--desk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .schedule__image-wrapper--desk {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */