body {
  background-color: #ffffff;
  color: #1F1F1F;
  font-family: "Urbanist", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.section--no-top-padding {
  padding-top: 0;
}

.section__title--black {
  color: #1F1F1F;
  font-family: "Unbounded", cursive;
  font-weight: 600;
  font-size: 27px;
  line-height: 1.17;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .section__title--black {
    font-size: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .section__title--black {
    font-size: 48px;
  }
}

.section__title--white {
  color: #ffffff;
  font-family: "Unbounded", cursive;
  font-weight: 600;
  font-size: 27px;
  line-height: 1.17;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .section__title--white {
    font-size: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .section__title--white {
    font-size: 48px;
  }
}

.container {
  padding-left: 34px;
  padding-right: 34px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 786px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.logo {
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 30px;
  }
}

.button {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 15px 30px;
  border: 3px solid #FEC56C;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.button--text-white {
  color: #181818;
  background-color: #FEC56C;
}
.button--text-white:hover, .button--text-white:focus {
  color: #ffffff;
  background-color: transparent;
}

.button--text-black {
  color: #181818;
  background-color: #FEC56C;
}
.button--text-black:hover, .button--text-black:focus {
  background-color: transparent;
}

.button--transparent {
  color: #ffffff;
  background-color: transparent;
}
.button--transparent:hover, .button--transparent:focus {
  color: #181818;
  background-color: #FEC56C;
}/*# sourceMappingURL=main.css.map */