.button {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  width: 100%;
  padding: 15px 20px;
  border: $main-border;
  border-radius: 6px;
  cursor: pointer;
  transition: $main-transition;

  @media screen and (min-width: $mobile) {
    width: unset;
    padding: 15px 30px;
  }
}

.button--text-white {
  color: #181818;
  background-color: $accent-color;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: transparent;
  }
}

.button--text-black {
  color: #181818;
  background-color: $accent-color;

  &:hover,
  &:focus {
    background-color: transparent;
  }
}

.button--transparent {
  color: $white-color;
  background-color: transparent;

  &:hover,
  &:focus {
    color: #181818;
    background-color: $accent-color;
  }
}