.container {
  padding-left: 34px;
  padding-right: 34px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: 375px;
  }

  @media screen and (min-width: $tablet) {
    width: 786px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: $desktop) {
    width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }
}