.section {
  padding-top: 80px;
  padding-bottom: 80px;

  @media screen and (min-width: $tablet) {
      padding-top: 100px;
      padding-bottom: 100px;
    }

  @media screen and (min-width: $desktop) {
      padding-top: 120px;
      padding-bottom: 120px;
  }

  &--no-top-padding{
    padding-top: 0;
  }
}

.section__title--black {
  color: $black-color;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
  font-size: 27px;
  line-height: 1.17;
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
      font-size: 39px;
    }

  @media screen and (min-width: $desktop) {
    font-size: 48px;
  }
}

.section__title--white {
  color: $white-color;
  font-family: 'Unbounded', cursive;
  font-weight: 600;
  font-size: 27px;
  line-height: 1.17;
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    font-size: 39px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 48px;
  }
}